html {
    /*px表示像素，基础字号为10像素*/
    font-size: 10px;
    /*Google fonts 输出的css*/
    font-family: 'Open Sans', sans-serif;
    background-color: #00539F;
}
body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
h1 {
    font-size: 60px;
    text-align: center;
    text-shadow: 3px 3px 1px black;
    color: #00539F;
}
p,li{
    font-size: 16px;
    /*line-height 后面可以跟不同的参数，如果是数字，就是当前字体大小乘上数字*/
    line-height: 2;
    letter-spacing: 1px;
}
img {
    display: block;
    margin: 0 auto;
    width: 400px;
}